header{
    background-image: url('../img/pattern.png');
    background-repeat: repeat;
    height: 100px;
    width: 100vh;
}

.logo{
    float: left;
    height: 50px;
    width: 120px;
}

.highlight{
    background-color: yellow;
}

/* 
:picture-in-picture{

} */

#table-header{
    width: 100%;
    background-color: blue;
}

td{
    width: calc(100% / 3);
    height: 20px;
}

.background-lightblue{
    background-color: lightblue;
}
